{% extends "homepage/index.html" %} {% load staticfiles %} {% load pagination_tags %}

{% block slider %} {% endblock slider %}

{% block content %}
<h3>Hasil pencarian untuk '<strong>{{ query }}</strong>' : </h3>
{% autopaginate hasil_cari 4 %}
{% for berita in hasil_cari %}
    <h3> {{ berita.object.judul }}</a></h3>
    {{ berita.object.isi|safe|truncatewords:50 }} <a href="/berita/{{ berita.object.judul|slugify }}">Read More</a>
{% empty %}
    <h3>Tidak ada berita yang dapat ditampilkan.</h3>
{% endfor %}

{% paginate %}


{% endblock content %}

